<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
<sly data-sly-call="${clientlib.css @ categories='mysite.1'}"/>
</sly>

<sly data-sly-use.model="com.adobe.aem.guides.wknd.core.models.Dq7Text1"/>
        <div class="row">
                    <div class="col-md-12 text-center"><span class="our_expTitle
                        ">${model.pagePath}</span>
                        <h2 class="col-md-12 our_expSubTitle">${model.text @context='html'}
                        </h2>
                        <br>
                        <p class="col-md-12 our_exptext exptxt1">${model.description  @context='html'}
                    </div>
                </div>