<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
<sly data-sly-call="${clientlib.css @ categories='mysite.1'}"/>
</sly>


<sly data-sly-use.model="com.adobe.aem.guides.wknd.core.models.Dq3NavBar"/>
<div class="collapse navbar-collapse pull-right" id="navbarNav">
                        <ul class="navbar-nav navbarList pull-right">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#solutions">${model.nav1}</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#services">${model.nav2}</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#whydigiquad">${model.nav3}</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#aboutus">${model.nav4}</a>
                          </li>
                          <!-- li class="nav-item">
                            <a class="nav-link" href="#careers">${model.nav5}</a>
                          </li -->
                          <li class="nav-item">
                            <a class="nav-link" href="#contact">${model.nav6}</a>
                          </li>
                        </ul>
                      </div>