<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
<sly data-sly-call="${clientlib.css @ categories='mysite.1'}"/>
</sly>


<sly data-sly-use.model="com.adobe.aem.guides.wknd.core.models.Dq11WhyDigiquad"/>

<section class="why_digiquad wdq_bg" id="whydigiquad">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 why_digiquadheading">
                            <h1>Why digiquad</h1>
                        </div>
                    </div>

                    <div class="row">

<div class="col-md-4">
                            <div class="why_digiquadBg">
                                <div class="row">
                                    <div class="col-md-12">
                                        <img src="${model.fileReference}" class="img-fluid" alt="digiquad">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 whydigiQuad_subheading text-center">
                                        <h4>${model.title}</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 whydigiquad_text">${model.description @context='html'}</div>
                                </div>
                            </div>
                        </div>





                        <div class="col-md-4">
                            <div class="why_digiquadBg">
                                <div class="row">
                                    <div class="col-md-12">
                                        <img src="${model.fileReference1}" class="img-fluid" alt="digiquad">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 whydigiQuad_subheading text-center">
                                        <h4>${model.title1}</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 whydigiquad_text">${model.description1 @context='html'}</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="why_digiquadBg">
                                <div class="row">
                                    <div class="col-md-12">
                                        <img src="${model.fileReference2}" class="img-fluid" alt="digiquad">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 whydigiQuad_subheading text-center">
                                        <h4>${model.title2}</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 whydigiquad_text">${model.description2 @context='html'}</div>
                                </div>
                            </div>
                        </div>



                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</section>