<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
<sly data-sly-call="${clientlib.css @ categories='mysite.1'}"/>
</sly>


<sly data-sly-use.model="com.adobe.aem.guides.wknd.core.models.Dq12Footer"/>

<footer class="footer" id="contact">   

        <div class="row footerdrkbg">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="row">
                        <div class="col-md-4 contactUsInfo">
                            <div class="row">
                                <div class="col-md-12 contactHeading"> ${model.pagePath}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">${model.text @context='html'} </div>
                            </div><br>
                            <div class="row">
                                <div class="col-md-12 contactHeading">${model.pagePath}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">${model.text1 @context='html'}<br>
                                
                            </div><br><br>
                        </div><br>

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12 contactHeading">${model.pagePath2}</div>
                            </div><br>
                            <div class="row">
                                <div class="col-md-12"><iframe src="${model.linkURL}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
        </div></footer>